<h1>Bootcamp</h1>
<br><br><br><br>

<form method="post" action="/login">
    <label>Username:&nbsp;</label>
    <input type="text" name="uname"><br>
    <br>
    <label>Password:&nbsp;</label>
    <input type="password" name="pass"><br><br>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Login" name="submit">

</form>


<p>New User? <a href="/signup">Sign up</a></p>

