<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/jquery-3.4.1.min.js"></script>
     <script src="/javascripts/jquery.validate.min.js"></script>

      <script src="/javascripts/validation.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
