<h1>Sign up</h1>



<form method="post" action="#" id="signup-form">

    <input type="text" name="name" placeholder="Name"><br>
    <br>

    <input type="text" name="uname" placeholder="Username"><br>
    <br>

    <input type="number" name="phno" placeholder="Mobile Number"><br>
    <br>

    <input type="text" name="email" placeholder="E-mail"><br>
    <br>

    <input type="password" name="pass" placeholder="Enter Password"><br>
    <br>

    <input type="password" name="confirmpassword" placeholder="Confirm Password"><br>
    <br>



    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="signup" name="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="reset" value="reset" name="reset">

</form>
